html, body {
  background-color: #000;
  font-family: "Cairo" !important;
}

/* Override some BS defaults */
:root {
  --bs-btn-disabled-opacity: 0.25 !important;
}
.btn {
  --bs-btn-disabled-opacity: 0.25 !important;
}

/* Helps with fitting Bootstrap button group vertically */
#divButtonHolder > div {
  padding: 0px;
}

/* TWebPageControl adjustment - off by one at bottom of element? */
#pageControl {
  overflow: visible !important;
}

#divButtonHolder > div > button {
  height: 38px !important;
  font-family: "Cairo";
}

/* change color of text in footer total */
#divDatasetList > div.tabulator-footer > div.tabulator-calcs-holder > div > div:nth-child(3),
#divLabelsList > div.tabulator-footer > div.tabulator-calcs-holder > div > div:nth-child(3) {
  color: #fff;
}

/* Darker background, but not quite black */
.tabulator-tableholder,
#divDatasetList,
#divDataset,
#divFormLabelName,
#divFormLabelGroup,
#divPrintPreviewHolder,
#divPrintOptionsHolder,
#divPrintButtonsHolder,
#divEditButtonsHolder,
#divEditPreviewHolder,
#divEditPropertiesDetail,
#divPrintingButtonsHolder,
#divEditPropertyButtons {
  background-color: #111 !important;
}

/* Adjustments to the PropertiesList dropdown button */
#ddPropertiesListHolder > div:nth-child(2) {
  line-height: 27px !important;
  vertical-align: top !important;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  height: 34px !important;
}


/* Change the colors of the Tabulator Rows everywhere
** Darker than the midnight them, but with a bs-primary selected color */
div.tabulator-row.tabulator-selected {
  background-color: var(--bs-primary) !important;
}
div.tabulator-row.tabulator-group.tabulator-row-even {
  background-color: #ccc;
}
div.tabulator-row.tabulator-row-even {
  background-color: #161616;
}
div.tabulator-row.tabulator-group.tabulator-row-odd {
  background-color: #ccc;
}
div.tabulator-row.tabulator-row-odd {
  background-color: #202020;
}

/* change the Property rows to be a little different */
div.tabulator-row.tabulator-tree-level-0 {
  background-color: #666;
}
#divEditProperties > div.tabulator-tableholder > div > div.tabulator-tree-level-0 > div {
  border-right: none;
}

#divEditProperties .tabulator-row.tabulator-cell {
  border-right: #666 !important;
}

.tab-arrow-down {
  display: inline-block;
  margin-right: 10px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  border-bottom: 0;
  width: 12px;
  height: 6px;
  margin-left: 30px;
}
.tab-arrow-right {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 16px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 0;
  border-left: 6px solid #fff;
  vertical-align: middle;
  margin-left: 30px;
}

#divEditProperties
#divBlocker {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  opacity: 0.8;
  z-index: 100;
  background-color: #000;
}

/* try to make the toolbar fit in a bit better - for now */
#TForm1_TMSFNCWXPDFToolbar1 {
  clip: rect(2px,312px,35px,2px);
}



